In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from tqdm import tqdm_notebook

import warnings
warnings.filterwarnings("ignore")
sns.set()
pd.set_option('display.max_columns',None)

In [2]:
train_df = pd.read_csv('train.csv')
print(train_df.shape)
train_df.head()

(1821, 5)

  image_id  healthy  multiple_diseases  rust  scab
0  Train_0        0                  0     0     1
1  Train_1        0                  1     0     0
2  Train_2        1                  0     0     0
3  Train_3        0                  0     1     0
4  Train_4        1                  0     0     0

##### Image id's corresponding class is given as 1 and rest will 0 (one hot encoded)

In [9]:
train_df.isna().sum()

image_id             0
healthy              0
multiple_diseases    0
rust                 0
scab                 0
dtype: int64

In [ ]:
train_df['class'] = np.argmax(train_df.ilo)